{% extends "layout.html" %}

{% block content %}

<div class="container">

  <div class="mt-1">
    <h1>Personalized Playlist</h1>
  </div>

  <p class="lead">
    A playlist, just for you.
  </p>

  <hr class="half-rule"/>

  <div class='containter'>
    <p class="lead">
      The objective here was to create a personalized playlist using different functions from Spotify API but after many tries we didn't 
      arrive to make what we want so we just got it.
    </p>

  </div>


</div>

{% endblock %}